@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    color-scheme: light;
    --body-bg: hsl(200, 15%, 95%);
    --body-clr: hsl(200, 15%, 10%);
    --bg-primary: hsl(0, 0%, 100%);
    --accent-clr: hsl(200, 100%, 40%);
    font-size: 16px;
    --padding-primary: 8px;
    --nav-clr: hsl(200, 15%, 40%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--body-bg);
    color: var(--body-clr);
    font-family: 'Open Sans', sans-serif;
}