main{
    padding-top: 56px;
    width: 100%;
    min-height: 100vh;
}

.blog-title{
    line-height: 5rem;
    color: hsl(200, 15%, 30%);
}

#search{
    width: 80vw;
    padding: 0.7rem;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 4px;
    box-shadow:
    0 4px 6px -1px rgba(0,0,0,0.1),
    0 2px 4px -1px rgba(0,0,0,0.06);
}

.card-wraper{
    width: 80vw;
}

.card{
    width: 60vw;
    background-color: var(--bg-primary);
    border-radius: 4px;
    padding: 1.5rem 3rem;
    margin-top: 2rem;
    box-shadow:
    0 4px 6px -1px rgba(0,0,0,0.1),
    0 2px 4px -1px rgba(0,0,0,0.06);
    align-items: flex-start;
}

.card .date{
    font-weight: 300;
}

.card-title{
    color: var(--title-clr);
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
}

.card-title:hover{
    --title-clr: hsl(200, 15%, 0%);
}

.card-description{
    margin-top: 1rem;
    line-height: 1.6rem;
    letter-spacing: 1px;
}

.read-more{
    color: var(--accent-clr);
    text-decoration: none;
    display: inline-block;
    margin-top: 1rem;
    font-weight: 500;
}

.read-more:hover{
    text-decoration: underline;
}